
.content {
    padding: 311px 30px 30px 30px;
    background-image: url("../images/background.png");
}

.content h1 {
    padding: 10px;
}

.content form {
    margin-right: auto;
    margin-left: auto;
}