@IMPORT url("#{resource['css:content.css']}");
@IMPORT url("#{resource['css:navbar.css']}");
@IMPORT url("#{resource['css:header.css']}");
@IMPORT url("#{resource['css:footer.css']}");
@IMPORT url("#{resource['css:grid.css']}");


* {
    box-sizing: border-box;
}

html {
	margin: 0px;
}

body {
	/* Background pattern from subtlepatterns.com*/
	background: url("#{resource['images/background.png']}");
	/*background-color: #d91e4f;*/
	/*background: black;*/
	margin: 0px;
	font-family: Verdana, sans-serif;
}

.content .container {
	height: 100%;
}

